.current-location-area {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid 3px black;
    background-color: #D3D3D3;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    width: 20%;
}

.weather-image {
    background-color: #87ceeb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    border: solid 3px black;
    width: 250px;
    height: 250px;
}